on:
  push:
  workflow_dispatch:

name: Build Binaries

defaults:
  run:
    shell: bash

jobs:
  build:
    name: Build Binary
    runs-on: 'ubuntu-latest'
    strategy:
      matrix:
        goosarch:
          - 'aix/ppc64'
          # - 'android/386'
          - 'android/amd64'
          # - 'android/arm'
          - 'android/arm64'
          - 'darwin/amd64'
          - 'darwin/arm64'
          - 'dragonfly/amd64'
          - 'freebsd/386'
          - 'freebsd/amd64'
          - 'freebsd/arm'
          - 'freebsd/arm64'
          - 'illumos/amd64'
          # - 'ios/amd64'
          # - 'ios/arm64'
          - 'js/wasm'
          - 'linux/386'
          - 'linux/amd64'
          - 'linux/arm'
          - 'linux/arm64'
          - 'linux/mips'
          - 'linux/mips64'
          - 'linux/mips64le'
          - 'linux/mipsle'
          - 'linux/ppc64'
          - 'linux/ppc64le'
          - 'linux/riscv64'
          - 'linux/s390x'
          - 'netbsd/386'
          - 'netbsd/amd64'
          - 'netbsd/arm'
          - 'netbsd/arm64'
          - 'openbsd/386'
          - 'openbsd/amd64'
          - 'openbsd/arm'
          - 'openbsd/arm64'
          - 'openbsd/mips64'
          - 'plan9/386'
          - 'plan9/amd64'
          - 'plan9/arm'
          - 'solaris/amd64'
          - 'windows/386'
          - 'windows/amd64'
          - 'windows/arm'
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - uses: actions/setup-go@v2
      - name: Get OS and arch info
        run: |
          GOOSARCH=${{matrix.goosarch}}
          GOOS=${GOOSARCH%/*}
          GOARCH=${GOOSARCH#*/}
          BINARY_NAME=ledfx-go-$GOOS-$GOARCH
          echo "BINARY_NAME=$BINARY_NAME" >> $GITHUB_ENV
          echo "GOOS=$GOOS" >> $GITHUB_ENV
          echo "GOARCH=$GOARCH" >> $GITHUB_ENV
      - name: Build
        run: |
          go build -o "$BINARY_NAME" -v
          ls -l
          pwd
      - name: Upload Artifacts
        uses: actions/upload-artifact@v2
        with:
          name: ${{ env.BINARY_NAME }}
          path: .
